{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
{%from 'macros.html' import display_comments%}


{% block content %}
<div class="container-comments">
    <div class="row col-md-12">
        <div class="col-md-4">
            <div class="text-white">{{wtf.quick_form(form)}}</div>
        </div>
        <div class="col-md-8">
            <h2 class="text-center text-white">All comments:</h2>
            <p>{{display_comments(comments)}}</p>
        </div>

        <marquee direction='left' style="font-size: 50px; color: rgb(14, 15, 88);">LET US KNOW YOUR THOUGHTS :)</marquee>
    </div>

</div>
{% endblock%}
