{% extends 'base.html' %}
{% macro display_pitches(pitches) %}


<div class="container-fluid-macro">
    <div class="card-rows">
        {% if pitches %}
        {% for my_pitch in pitches%}
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <p>{{my_pitch.pitch_content}}</p>
                    <p>Category:{{my_pitch.category}}</p>
                </div>
                <div class="card-footer foot_flex d-block mx-auto">
                    <a href="/comment/{{my_pitch.id}}"><button class="btn btn-danger">Comment</button></a>
                </div>
                <a href="/upvote/{{my_pitch.id}}"><button class="btn btn-success">Like {{my_pitch.upvote.count()}}</button></a>
                <a href="/downvote/{{my_pitch.id}}"><button class="btn btn-info">Dislike {{my_pitch.downvote.count()}}</button></a>
            </div>
        </div>
        
    </div>
    {% endfor%}
    {%endif%}
    
</div>
{%endmacro%}
{%macro display_comments(comments)%}
<div class="card-columns">
    {% for comment in comments %}
    <div class="card-comment">
        <div class="col-md-3">
            <div class="card-body">
                <p>{{comment.comment}}</p>
            </div>
            <p class="text-center">{{comment.pitches.title}}</p>
        </div>
    </div>
    {% endfor %}
</div>
{%endmacro%}

