<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid-nav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <h3 class="head" style="font-size: 50px;  color:ghostwhite; position: relative; left: 600px;"> PITCH APP </h3>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a style="font-size: 30px; position:relative; right: 150px;" href="/">Home</a></li>
                <ul class="nav navbar-nav navbar-right" style="text-align: right; font-size:30px; position: relative; left: 700px;">
                    
                    <li><a href="{{url_for('main.profile',uname=username)}}">Profile</a></li>
                    <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
                    
                    <li><a href="{{url_for('auth.login')}}">Sign in</a></li>
                    
                   
                  </ul>
        </div>


    </div>
</div>